<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ee.app.conversa">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="ee.app.conversa.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="ee.app.conversa.permission.MAPS_RECEIVE" />

    <!-- [START gcm_permission] -->
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="ee.app.conversa.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Prevent other Android applications from registering and receiving the Android application's messages -->
    <uses-permission android:name="ee.app.conversa.permission.C2D_MESSAGE" />

    <!-- [END gcm_permission] -->
    <application
        android:name=".ConversaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivitySplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="user"
                    android:scheme="conversapp" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitySignIn"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <!-- enable the search dialog to send searches to MainActivity -->

        <meta-data
            android:name="android.app.default_searchable"
            android:value="ee.app.conversa.MainActivity" />

        <activity
            android:name=".ActivityMain"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".notifications.NotificationReceiver"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityProfile"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityChatWall"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"> <!--  -->
        </activity>
        <activity
            android:name=".ActivityLocation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"> <!--  -->
        </activity>
        <activity
            android:name=".ActivityCameraCrop"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"> <!--  -->
        </activity>

        <!-- **************************************************************************************** -->
        <receiver android:name=".management.ConnectionChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.ConnectivityManager.CONNECTIVITY_ACTION" />
            </intent-filter>
        </receiver>
        <!-- **************************************************************************************** -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBBJNcckAXPeisYmj-ej2bwN13F-tKtux8" />

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="ee.app.conversa" />
            </intent-filter>
        </receiver>
        <meta-data android:name="com.parse.push.gcm_sender_id"
            android:value="id:753901434477" />;
    </application>

</manifest>